@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@section featured {
    We are showing the latest @Model.Count()
}

@foreach (var item in Model) {

    @:Review
    <div class="review">
        <h4>@item.Name</h4>
        <span>@item.Rating</span>
        <p>@item.City, @item.Country</p>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>