@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@section featured {
    We are showing the latest @Model.Count() reviews
}

@foreach (var item in Model) {

    @:Review
    <div class="review">
        <h4>@item.Name</h4>
        <span>@item.Rating</span>
        <p>@item.City, @item.Country</p>
        <span class="text-right">
            @Html.ActionLink("Edit", "Edit", new {id=item.Id})
        </span>
    </div>
}



<p>
    <a asp-action="Create">Create new</a>
</p>